<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TrailBlazer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Emily Sun Portfolio</title>
    <!--Jquery-->
    <script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"></script>
     <script type="text/javascript" src="js/materialize.min.js"></script>

    <!--javascript file-->
    <script type="text/javascript" src="/js/js.js"></script>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link href="/assets/css/style21.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<ul id="dropdown1" class="dropdown-content">
       <li><a href="#!">{{user.username}}</a></li>
        <li><a href="/auth/facebook">Log In</a></li>
        <li><a href="/signup">Sign Up</a></li>
      </ul>
      <nav class="N/A transparent z-depth-0">
        <div class="nav-wrapper">
          <!-- <a href="#!" class="brand-logo">Logo</a> -->
          <ul class="right hide-on-med-and-down">
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-button" href="/" data-activates="dropdown1">Account Access<i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>
        </div>
      </nav>
	{{{ body }}}
</body>
  <script type="text/javascript">
     $(document).ready(function(){
      $('.parallax').parallax();
      $('.modal').modal();
      $(".dropdown-button").dropdown();
      //hides parkDisplay on first display
      // $("#parkDisplay").hide();
      //hides parkDisplay on first display
      // $("#parallax2").hide();
      $( "#submitBtn" ).click(function() {
     		console.log($('#stateSelection').val())
        $("#parkDisplay").show();;
      });
      $(".parkSubmitBtn").click(function(){
        $("#parallax2").show();
      });
    });     
  </script>
	</html>