
{{!-- <div class='row'>
<div class="col s2"></div>
<div class="col s8">
  <h1>login</h1>
  <form action="/authenticate" method="post">
      <label>Username</label>
      <input  id="username" name="username" placeholder="Username" type="text" />
      <label>Password</label>
      <input id="password" name="password" placeholder="Password" type="password" >
      <div class="form-actions">
          <button type="submit" class="">Login</button>
          <div class="clearfix"></div>
      </div>
  </form>
<div class='row' id="introRow">
  <div class="col s12">
    <h1>Login</h1>
  </div>
  <div class="row" id="loginRow">
    <div class="col s6" id="manualInput">
      <form action="/authenticate" method="post">
          <input  id="username" name="username" placeholder="Username" type="text" />
          <input id="password" name="password" placeholder="Password" type="password" >
          <div class="form-actions">
              <button type="submit" class="">Login</button>
              <div class="clearfix"></div>
          </div>
      </form>
    </div>

    <div class="col s6" id="facebookLogin">
      <h2>Facebook</h2>
      <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Login With Facebook</a>
    </div>
  </div>

  <div class="row" id="footerRow">
    <div class="col s12">
      <h3>Not signed up? <a href="/signup">Register here</a></h3>
    </div>
  </div>
</div>


  <div class="col s2"></div>

  </div> --}}