  <div class="trails" {{!-- id="parallax2" --}}>
    {{!-- <div class="parallax">
      <img src="/assets/css/img/hiking.jpeg">
    </div>   --}}   <!-- Dropdown Structure -->
{{!--       <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">Log In</a></li>
        <li><a href="#!">Sign Up</a></li>
      </ul>
      <nav class="N/A transparent z-depth-0">
        <div class="nav-wrapper">
          <!-- <a href="#!" class="brand-logo">Logo</a> -->
          <ul class="right hide-on-med-and-down">
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Account Access<i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>
        </div>
      </nav> --}}

<!-- ===================Parralax 2 ===================-->

    <div class="row" id="trailsRow">

      <h3 id="trailTitle">Trails</h3>
      <h4></h4>

        {{#each results}}
        <div class="col s4 trailsColumn" id='trailsContainer'> 
          <span class="info"><a href="#trailInfoModal" id="modalBtn"><i class="small material-icons" id="trailsBtn">info_outline</i></a></span>
          <h6>{{this.trail_name}}</h6> {{!-- <span><a href="#trailInfoModal" id="modalBtn"><i class="small material-icons" id="trailsBtn">info_outline</i></a></span> --}}
          <p class="description">{{this.description}}</p>
          
        </div>
        {{/each}}
    </div>
  </div>



      <!-- Modal Structure -->
      <div id="trailInfoModal" class="modal">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat right"><i class="large material-icons" >toc</i></a>
        <!-- Modal Content -->
        <div class="modal-content">
          <!--Beginning of Google Maps ADDED-->
          <div class="row" id="mapRow">
            <div class="col-xs-6" id="map"></div>
            <!-- <div class="col-xs-6" id="weather"></div> -->
          </div>
        </div> 
      </div>
