.signup_div {
  color: black;
}

body{
  /*background-color: #0d0d0d;*/
  background-color: #282828;
  padding:0;
  margin:0;
  width:100%;
  overflow:auto;
  color: white
}


a{
  color: #f3da72;
}

h1 h2 h3 h4 h5 h6{
  font-family: 'Poppins', sans-serif;
  font-weight:bold;
}

h3{
  font-size:70px;
  margin:0;
  padding:10px;
}

.container{
  padding:0px;
  margin:0px;
  width:100%;
  overflow:auto;
  position:relative;
}

.row{
  padding:0px;
  margin:0px;
  width:100%;
  text-align:center;
}

.row .col.s12{
  padding:0;
  margin:0;
  width:100%;
  height:100%;
}

.parallax-container{
  padding:0;
  margin:0;
  overflow:auto;
  /*height:100%;*/
}

/*=========================Navbar Styling=======================*/
nav-wrapper{
  /*padding-left:30px;*/
}
.brand-logo img{
  margin-left:30px;
  margin-top:15px;
  width:50px;
}

.brand-logo{}

.dropdown-button {
  color:#ffffff;
}

#menuIcon{
 color:#430051; 
}

#titleImg{
  width:400px;
}


/*=========================Model Styling=======================*/
  
/*modal button */ 
#modalBtn{
  margin:30px;
  
}

/*modal when opened*/
.modal.open{
    background-color: #1A0315;
    opacity:.2;
    width: 100%;
    max-height: 100%;
    height: 100%;
    top: 0 !important;   
}

.modal-content{
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-size:40px;
  color:#f3da72;
}

.modal-content li{
  margin-bottom:100px;
}

.modal-content:hover{
  color:#d8b31c;
}

#parkInfoModal p{
  font-size:16px;
}

#loginModal.open {
  max-height: 75% !important;
  margin-top: 80px;
  width: 75% !important;
}

/*================================Parralax Styling================*/
.parallax-container{
  margin-top:0px;
  overflow:auto;
}
.parallax img{
  width:200%;
  overflow:auto;
  opacity:.7;

}

#frontImg{
  width:100%;
  overflow:auto;
}


/*=======================Parralax Elements Styling======================*/

#titleColumn{
  margin-top:80px;
  text-align:center;
}
#titleColumn h3{
  text-shadow: 2px 2px gray;
  color:#ffffff;
}

#stateSelection{
  width:30%;
  margin: auto;
  margin-bottom:30px;
}

.select-dropdown active {
  opacity:.5;
}


  
/*================================Park Display================*/


#trailsContainer, #parkContainer{
  height:300px;
  padding-top:20px;
  padding-bottom:30px;
  padding-right:20px;
  padding-left:20px;
  /*background-color:rgba(255, 255, 255,.7);*/
  background-color:rgba(63,63,63,.8);
  text-align:justify;
  width:30%;
  /*padding-left:15px;
  padding-right:15px;*/
  margin-left:10px;
  margin-bottom:10px;
  color: white;
  overflow: scroll;

}
#parkDisplay{
  text-align:center;
  margin:10px;
  padding:0;
  width:100%;
  overflow:auto;
}

#parkDisplay h3{
  /*color:#ffffff;*/
  color: #3f3f3f;
  text-shadow: 2px 2px gray;
}
#parkTitle{
  color: #ffffff;

}

#parkPage{
  text-align:center;
  padding-left:80px;
  padding-bottom:30px;
  /*background-size: 100% 100%;*/
  overflow:auto;
}

.info{
  float: right;
  top: 0px;
  right:0px;
}
   

/*.titleColumn{
  background-color:rgba(255, 255, 255,.5);
  text-align:justify;
}*/

#trails{
   overflow: visible;

}
#trailsContainer, .s4 {
  width:33%;
  padding-left:15px;
  padding-right:15px;
  margin-left:4px;
  margin-bottom:6px;
}

#trailsRow{
  padding-left:30px;
  padding-right:30px;
  margin-bottom:30px;
}

/*================================Trails Display================*/
/*#trails {
  opacity:.9;
  padding-bottom:30px;
}*/


#trailTitle{
  text-align:center;
  color:#ffffff;
  text-shadow: 2px 2px gray;
}

#trailImg{
  height:550%;
}



/*===================Map and Weather Div=====================*/

#map{
  /*margin-left:30px;
  padding:10px;*/
  width:45%;
  height:500px;
}

#weather {
  margin-left:30px;
  width:50%;
}

#weather h3{
  font-size:50px;
}

.weatherInfo{
  display:none;
}

.latitude{
  display:none;
} 

.longitude{
  display:none;
}



/*===================================Login Modal======================*/

#introRow{
  text-align:center;
  margin-bottom:10px;
  /*background-image: url("img/modalTrail.jpg");
  background-color: #ffffff;
  background-opacity:60px;*/
}

#footerRow{
 text-align:center; 
}

#loginModal p {
  font-size:12px;
}

#loginModal.open{
  background-color: #1A0315;
  opacity:.2;
  width: 80%;
  max-height: 100%;
  height: 100%;
  top: 60 !important;   
}


#loginRow {
 /* background-color: #ffffff;*/
  padding:10px;
}
#loginRow h2{
  font-size:16px;
}

#footerRow h3{
  font-size:24px;
}

#loginForm{
  background-color: #6d6d6d;
  padding:20px;
}

#manualInput{
  padding:30px;
  padding-left:50px;
}

#facebookLogin{
  text-align:center;
}

#submit{
  width:100%;
  font-size:16px;
}

#facebookLogin{
  text-align:center;
}

#facebookLogin a{
  font-size:16px;
}


#footerRow{
  font-size:16px;
}

#go{
  color: white;
}



